@charset "utf-8";
/*公共部分*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    padding: 0;
    margin: 0;
}
body {
    font-family: "Microsoft YaHei","微软雅黑",Tahoma,Helvetica;
    background: #fff;
}
ul, ol {
    list-style: none;
}
input {
    padding-top: 0;
    padding-bottom: 0;
}
select, input {
    vertical-align: middle;
}
select, input, textarea {
    font-size: 12px;
    margin: 0;
}
textarea {
    resize: none;
}
img {
    border: 0;
    vertical-align: middle;
}
table {
    border-collapse: collapse;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;/*IE/7/6*/
}
a {
    color: #666;
    text-decoration: none!important;
}
a:hover,
a:visited,
a:active {
    color: #666;
    text-decoration: none!important;
}
h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
}
s, i, em {
    font-style: normal;
    text-decoration: none;
}
::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
@font-face {
    font-family: 'MiFie-Website-Font';
    src: url('../font/MiFie-Website-Font.ttf')  format('truetype');
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'MiFie-Website-Font' !important;
    font-style: normal;
}